{
  "presets": [
    [
      "env", {
        "modules": false,
        "targets": {
          "browsers": ["last 3 versions"],
        },
      }
    ],
    "react"
  ],
  "plugins": ["transform-object-assign", "transform-runtime"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
