@charset "utf-8";

.nav-list {
}

.is-current {

  > a {
    border-left: 2px solid #444;
    color: #444;
    font-weight: bold;
  }
}

.is-scrolled-past {
  > a {
    background: rgba(0, 0, 0, .1);
  }
}