<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Scrollspy Component for React">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React Scrollspy</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58223460-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-58223460-6');
    </script>
  </head>
  <body>
    <div id="js-app"></div>
  </body>
</html>
