@charset "utf-8";

* {
  box-sizing: border-box;
}

body  {
  background-color: #fff;
  color: #444;
  font-size: 13px;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.4;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: #346cc1;
}

