@charset "utf-8";

@import
  "base/base";

$color_primary: #ff6464;
$color_base: #444;
$color_base_opposite: #fff;
$paragraph_space: 1.6rem;

@import
  "../../node_modules/construct-css/src/scss/construct";

@import
  "layouts/container";

@import
  "components/header",
  "components/app",
  "components/nav-list-wrapper",
  "components/nav-list",
  "components/container";

.headline {
  padding: 10px 0;
  font-style: italic;
}

.sub-headline {
  margin: 10px 0 0;
  padding: 1rem;
  background-color: #ff6464;
}

.container {
  background-color: #fff;

  > section {
    padding: 0 7rem;
  }

  > section:nth-child(odd) {
    background-color: #f7f7f7;
  }
}
